<div class="video-center container-fluid">
  <section class="util">
    <app-from text="360搜索综艺排行榜" url="https://www.360kan.com/zongyi/index.html"></app-from>

    <mat-paginator
      class="paginator"
      [length]="TOTAL"
      [pageSize]="PAGE_SIZE"
      hidePageSize="true"
      (page)="showPage($event.pageIndex)">
    </mat-paginator>
  </section>

  <section>
    <div class="video-profile" *ngFor="let video of videos | async">
      <div>
        <a href="{{ video.url }}" rel="noopener noreferer" target="_blank">
          <img class="video-img" width="124" height="160" src="{{ video.img.src }}" alt="{{ video.img.alt }}" />
        </a>

        <div class="subtitle">{{ video.subtitle }}</div>
      </div>

      <div class="title">
        <a href="{{ video.url }}" rel="noopener noreferer" target="_blank" title="{{ video.description }}">{{ video.title }}</a>
      </div>
    </div>
  </section>
</div>
