<div class="search-box">
  <form class="example-form" (submit)="$event.preventDefault();toSearchPage(input.value)">
    <mat-form-field class="input-wrapper">
      <input matInput [(value)]="query" #input (input)="search(input.value)">
    </mat-form-field>

    <mat-form-field class="engines-wrapper">
      <mat-select [(value)]="currentEngine" (selectionChange)="changeEngine()">
        <mat-option *ngFor="let engine of EngineMap" [(value)]="engine.id">{{ engine.value }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <p>search engine: {{currentEngine}}</p> -->
    <!-- <p>search engine: {{Engines[currentEngine]}}</p> -->
    <!-- <p>search query: {{query}}</p> -->
    <!-- <p>search searchType: {{SearchType[searchType]}}</p> -->
  </form>

  <!-- 热搜 或 下拉提示 -->
  <!-- <p>suggestions: {{ suggestions | json }}</p> -->

  <app-suggestion-list
    *ngIf="suggestions.length"
    [suggestions]="suggestions"
    [searchType]="searchType"
  ></app-suggestion-list>
</div>
