.search-box {
  position: relative;
  width: 56%;
  margin: 0 auto;

  .input-wrapper {
    width: 86%;
  }

  .engines-wrapper {
    width: 14%;
  }
}

.hide-suggestion-list app-suggestion-list {
  display: none;
}
