.search-box {
  position: relative;
  width: 56%;
  margin: 0 auto;

  .input-wrapper {
    width: 88%;
  }

  .engines-wrapper {
    width: 12%;
  }

  .suggestion-list {
    position: absolute;
    width: 100%;
    padding-top: 0;
    z-index: 2;
    border: 1px solid #ccc;
    box-shadow: 2px 2px #eee;
    background-color: rgba($color: #ffffff, $alpha: 0.8);

    .suggestion {
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }

      .rank {
        width: 22px;
        height: 22px;
        margin-right: 1em;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        background-color: #cacaca;
        border-radius: 2px;

        &.rank-1 {
          background-color: #ff0d29;
        }
        &.rank-2 {
          background-color: #ff920b;
        }
        &.rank-3 {
          background-color: #ffc600;
        }
      }
    }
  }
}

