// todo 弹窗北京图片磨砂效果

h1 {
  font-size: 16px;
}

.img-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .5em;
  font-size: 12px;
}

mat-icon {
  margin-right: 2px;
}

.actions {
  justify-content: flex-end;
  font-size: 14px;
}

img {
  width: 100%;
}
